
.ctn_img_presentation{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ctn_text{
    width: 70%;
    height: 70%;
    margin-top: 10vh;
    padding-left: 3vw;
    background-color:  rgba(227, 224, 137, 0.267);
    box-shadow:0px 0px 12px 0px rgba(86, 86, 86, 0.172);
    border-radius: 25px;
    display : flex;
    flex-direction: column;
   
    
}
.div_img_presentation{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-top: 10vh;
    
    
}

.div_img_presentation img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


@media only screen and (max-width: 1000px) {
   .ctn_img_presentation{
    width: 85vw;
    display: flex;
    flex-direction: column;
   }
   .div_img_presentation{
    display: none;
   }
   .ctn_text{
    width: 95%;
    margin-left: -2.5vw;
    margin-left: -10vw;
    margin-right: -10vw;
   }
}