.ctn-form{  
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ctn-form label{
    color: rgb(242, 241, 241);
}

.ctn-form input{
    color: rgb(255, 255, 255);
}

textarea{
    height: 20vh;
    resize: none;
}